* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
html, body {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}
  
.header {
    height: 7rem;
    border-bottom: 1px solid blue;
   
}

.headerLogo {
    padding: 2rem 0 0 4rem;
    width: 20.5rem;
}

.quandooLogo {
    height: 3.5rem;
    width: 16.5rem;
}