* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
html, body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
  
.header {
    height: 7rem;
    display: flex;
    justify-content: space-between;
   
}

.headerLogo {
    padding: 2rem 0 0 4rem;
    width: 20.5rem;
}

.quandooLogo {
    height: 3.5rem;
    width: 16.5rem;
}

.headerLinks {
    display: flex;
 
}

.headerLinks > div {
    flex: 1;
    width: 15.8rem;
    font-size: 1.5rem;
}

.img {
    height: 21rem;
    background-color: lightgrey;
}